#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.portrait {
  max-height: 204px;
  max-width: 174px;
  margin: 12px;
}

.portrait:hover {
  transform: scale(1.15);
}
